<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>StudentManagement変更页面</title>
	</head>
	<body>
		<div>
			<h4>ユーザー変更画面</h4>
		</div>
		<div>
			<p th:text="${errorMsg}">
		</div>
		<div>
			<form action="userRegister" method="post">
			<table>
				<tr>
					<td>ユーザーID</td>
					<td><input type="text" placeholder="ユーザーID" name="username"></td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td>パスワード</td>
					<td><input type="password" placeholder="パスワード" name="password"></td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td>性別</td>
					<td>
						<label for="gender">
							男<input type="radio" name="gender" value="0" id="gender">
						</label>
						<label for="gender1">
							女<input type="radio" name="gender" value="1" id="gender1" checked>
						</label>
					</td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td>住所</td>
					<td><input type="text" placeholder="住所" name="address"></td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td>国籍</td>
					<td>
						<select name="country">
							<option value="0">中国</option>
							<option value="1">日本</option>
							<option value="2">其他</option>
						</select>
					</td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td>備考</td>
					<td>
						<input type="text" placeholder="備考" name="comment">
					</td>
				</tr>
			</table>
			<div>
				<button type="submit">変更</button>
				<button type="button" onclick="javascript:window.history.back(-1)">キャンセル</button>
			</div>
			</form>
		</div>
	</body>
</html>