<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>StudentManagement変更页面</title>
	</head>
	<body>
		<div>
			<h4>ユーザー変更画面</h4>
		</div>
		<div>
			<p th:text="${errorMsg}">
		</div>
		<div>
			<form action="userEdit" method="post">
			
			<table>
				<tr>
					<td><label for="username">ユーザーID</label></td>
					<td><input type="text" id="username" name="username" th:value="${user.username}" readonly></td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td><label for="password">パスワード</label></td>
					<td><input type="password" id="password" th:value="${user.password}" name="password"></td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td>性別</td>
					<td>
						<label for="gender">
							男<input type="radio" name="gender" th:field="${user.gender}" th:value="0" id="gender">
						</label>
						<label for="gender1">
							女<input type="radio" name="gender" th:field="${user.gender}" th:value="1" id="gender1">
						</label>
					</td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td><label for="address">住所</label></td>
					<td><input type="text" th:value="${user.address}" id="address" name="address"></td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td><label for="country">国籍</label></td>
					<td>
						<select name="country" id="country">
							<option th:field="${user.country}" th:value="0">中国</option>
							<option th:field="${user.country}" th:value="1">日本</option>
							<option th:field="${user.country}" th:value="2">其他</option>
						</select>
					</td>
				</tr>
				<tr style="height: 20px"></tr>
				<tr>
					<td><label for="comment">備考</label></td>
					<td>
						<input type="text" th:value="${user.comment}" id="comment" name="comment">
					</td>
				</tr>
			</table>
			<div>
				<button type="submit">変更</button>
				<button type="button" onclick="javascript:window.history.back(-1)">キャンセル</button>
			</div>
			</form>
		</div>
	</body>
</html>