<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>StudentManagement登录页面</title>
</head>
<body>
	<h1>CloudByteのプロジェクトユーザーログイン画面</h1>
	<form action="user11" method="get">
		<label for="username" class="form-label">
		<i></i>ユーザーID：</label><input type="text" class="form-control" id="username" placeholder="ユーザーID" name="username"><br>

		<label for="password" class="form-label">
		<i></i>パスワード：</label><input type="password" class="form-control" id="password" placeholder="パスワード" name="password"><br>

	    <label class="form-check-label">
		<input class="form-check-input" type="checkbox" name="remember">ログイン状態を保存する<br>
		<a href="register" class="text-center">新規登録</a>
		</label>
		<button type="submit" class="btn btn-primary btn-block">ログイン</button>
	</form>

</body>
</html>