<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>StudentManagement登录页面</title>
	</head>
	<body>
		<div>
			<h1>CloudByteのプロジェクト<br>
			<small>ユーザーログイン画面</small>
			</h1>
		</div>
		<form action="userLogin" method="post">
			<div>
				<label for="username">ユーザーID：</label><br>
				<input type="text" id="username" name="username">
			</div>
			<div>
				<label for="password">パスワード：</label><br>
				<input type="password" id="password" name="password">
			</div>
			<div>
				<input type="checkbox" id="remember" name="remember">
				<label for="remember">ログイン状態を保存する</label>
				<a href="register">新規登録</a>
			</div>
			<div>
				<button type="submit">ログイン</button>
			</div>
		</form>
	</body>
</html>